main{
    display: flex;
}
.faqs{
    flex-direction: column;
    text-align: center;
    background-color: #F7F7F7;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px
}

.faqs h2{
    margin-top: 84px;
    font-size: 40px;
    font-weight: 500;
}

.faq{
    width: 420px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.faq span{
    margin: auto;
    font-size: 17px;
    margin-top: 26px;
    line-height: 30px;
    text-align: left;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


p{
    font-size: 24px;
}